<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
<div ng-controller="blogController as blog" ng-cloak flex>
<md-content>
    <div class="background-img">
    <md-content class="md-padding" style="background:transparent;">
        <md-content class="md-padding" style="background:transparent;" layout-xs="column" layout="row">
            <div flex-xs flex-offset-gt-xs="25" flex-gt-xs="50" layout="column">
            <md-card>
                <img ng-src="..\\img\\arduino.png" class="md-card-image" alt="Washed Out">
                <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Arduino</span>
                </md-card-title-text>
                </md-card-title>
                <md-card-content>
                Arduino is a simple to use and setup microcontroller. Arduino is not to be confused with devices like the Raspberry Pi
                although they can achieve the same goals they are diffent types of systems. The Pi can run an OS like linux. Arduino you
                compile some simple C like code into a program and upload it to an arduino board and it will run the program in a 
                infinite loop. 
                <br>
                <br>
                You can directly control IO pins that range from digital, analog, and PWM(Pulse Width Modulation) 
                There a variety of controller options in different sizes and computing capablities. The most popular in my 
                opinion and my favorite is the <a href="https://www.arduino.cc/en/Main/ArduinoBoardUno">UNO</a>
                <br>
                <br>
                The Arduino is typically programmed using the Arduino IDE and special programming language based largely off of the Open Source
                programming language <a href="https://en.wikipedia.org/wiki/Processing_(programming_language)">Processing</a>. There are two main
                functions for a typical Arduino program. A setup function and a loop function. The setup function is where you would initilize
                variables and set 'pinmodes' for the IO pins on the board and things like that. The loop function is continously executed until the devie
                is either reset or loses power. 
                <br>
                <br>
                The arduino boards can be stacked with devices called shields. The shields essentially extend the capability of the microcontroller. For
                example a common shield used is an ethernet shield which gives the arduino the capability to be connected to a network or the Internet.
                
            </md-card>
            <md-card class="invisible">
                <img ng-src="{{blog.contactImgPath}}" class="md-card-image" alt="Washed Out">
                <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Contact Me</span>
                </md-card-title-text>
                </md-card-title>
                <md-card-content>
                <p>
                    HACKY CRAP RIGHT HERE TO MAKE THE BACKGROUND FILL THE PAGE
                </p>
            </md-card>
            </div>
    </md-content>
    </div>
</md-content>
</div>