#example1 {
    background: url(../images/bjBack.png) no-repeat;
    height: 600px;
    width: 920px;
    margin: auto;
}
.point-label{
   font-size: large;
   font-weight: bold;
   color: yellow;
   top: 5%;
   left: 130%;
   position: absolute;
}
.dealer-up-card{
   position: absolute;
   top: 15%;
   left: 48%;
}
.dealer-down-card{
   position: absolute;
   top: 10%;
   left: 45%;
}
.p0-card0{
   position: absolute;
   top: 29%;
   left: 74%;
   /* Rotate div */
   -ms-transform: rotate(-63deg); /* IE 9 */
   -webkit-transform: rotate(-63deg); /* Chrome, Safari, Opera */
   transform: rotate(-63deg);
}
.p0-card1{
   position: absolute;
   top: 38%;
   left: 71%;
   /* Rotate div */
   -ms-transform: rotate(-50deg); /* IE 9 */
   -webkit-transform: rotate(-50deg); /* Chrome, Safari, Opera */
   transform: rotate(-50deg);
}
.p1-card0{
   position: absolute;
   top: 46%;
   left: 65%;
   /* Rotate div */
   -ms-transform: rotate(-35deg); /* IE 9 */
   -webkit-transform: rotate(-35deg); /* Chrome, Safari, Opera */
   transform: rotate(-35deg);
}
.p1-card1{
   position: absolute;
   top: 50%;
   left: 60%;
   /* Rotate div */
   -ms-transform: rotate(-20deg); /* IE 9 */
   -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
   transform: rotate(-20deg);
}