<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
<div ng-controller="blogController as blog" ng-cloak flex>
<md-content>
   <div class="background-img">
         <md-content class="md-padding" style="background:transparent;">
               <md-content class="md-padding" style="background:transparent;" layout-xs="column" layout="row">
                  <div flex-xs flex-offset="25" flex-gt-xs="50" layout="column">
                  <md-card ng-repeat="card in blog.blogCards">
                     <img ng-src="{{card.imgPath}}" class="md-card-image" alt="Washed Out">
                     <md-card-title>
                     <md-card-title-text>
                           <span class="md-headline"><a href="" ng-click="blog.blogEntry($index)">{{card.title}}</a></span>
                     </md-card-title-text>
                     </md-card-title>
                     <md-card-content>
                     {{card.content}}
                  </md-card>
                  <md-card class="invisible">
                     <img ng-src="{{blog.contactImgPath}}" class="md-card-image" alt="Washed Out">
                     <md-card-title>
                     <md-card-title-text>
                           <span class="md-headline">Contact Me</span>
                     </md-card-title-text>
                     </md-card-title>
                     <md-card-content>
                     <p>
                           HACKY CRAP RIGHT HERE TO MAKE THE BACKGROUND FILL THE PAGE
                     </p>
                  </md-card>
                  </div>
         </md-content>
      </div>
</md-content>
</div>