<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
<div ng-controller="blogController as blog" ng-cloak flex>
<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Blog">
            <div class="background-img">
            <md-content class="md-padding" style="background:transparent;">
                <md-content class="md-padding" style="background:transparent;" layout-xs="column" layout="row">
                    <div flex-xs flex-offset="25" flex-gt-xs="50" layout="column">
                    <md-card>
                        <img ng-src="..\\img\\blogIntro.jpg" class="md-card-image" alt="Washed Out">
                        <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Meta</span>
                        </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                        Meta data
                    </md-card>
                    <md-card class="invisible">
                        <img ng-src="{{blog.contactImgPath}}" class="md-card-image" alt="Washed Out">
                        <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Contact Me</span>
                        </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                        <p>
                            HACKY CRAP RIGHT HERE TO MAKE THE BACKGROUND FILL THE PAGE
                        </p>
                    </md-card>
                    </div>
            </md-content>
            </div>
        </md-tab>
    </md-tabs>
</md-content>
</div>