<link rel="stylesheet" type="text/css" href="/css/jackal.css" media="screen">
<style>
        .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
        #fillgauge {padding: 0% 35% 0% 35%;}
        #label {padding: 0% 35% 5% 35%;}
</style>
<script src="/js/coffee/d3.v3.min.js" language="JavaScript"></script>
<script src="/js/coffee/liquidFillGauge.js" language="JavaScript"></script>
<div ng-controller="coffeeController as coffee" style="padding:0 2% 0 2%" ng-cloak flex>
  <h1 id="label">Coffee Level</h1>
  <svg id="fillgauge" ng-click="coffee.newValue()" width="200px" height="200px" ></svg>
</div>
