<style>
    md-tabs .md-tab.md-active{
        color: white;
    }
    md-tabs-canvas{
        background: dimgrey;
    }
    .logo-image {
        height: 100%;
        width: 100%;
    }
    .md-button.logo {
        height: 7rem;
        width: 7rem;
    }

</style>
<div ng-controller="homeController as home" ng-cloak flex>
<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab md-primary label="Main">
            <img src="/img/keyboard.jpg" alt="" width="100%" height="300px" style="position:absolute;">
            <md-button class="md-icon-button logo"  style="position:relative;left:45%;top:50px;z-index:5;">
            <img class="logo-image" src="img/rr2d2.jpg">
            </md-button>
            <md-content class="md-padding" style="background:transparent;">
                  <md-content class="md-padding" style="background:transparent;" layout-xs="column" layout="row">
                    <div flex-xs flex-gt-xs="50" layout="column">
                    <md-card>
                        <img ng-src="..\img\PiArt.png" class="md-card-image" alt="Washed Out">
                        <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">About me</span>
                        </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                        <p>
                            I graduated from Texas A&M with a bachelor of science in Computer Engineering with a mathametics minor.
                        The majority of my course work at A&M was with c/c++. I enjoy learning new languages and designing and building
                        new projects from scratch.
                        </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                        <md-button>Action 1</md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card>
                        <img ng-src="..\img\PiArt.png" class="md-card-image" alt="Washed Out">
                        <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Card header</span>
                        </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                        <p>
                            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                        </p>
                        </md-card-content>
                    </md-card>
                    </div>
                    <div flex-xs flex-gt-xs="50" layout="column">
                        <md-card>
                            <md-card-header>
                            <md-card-avatar>
                                <img src="img/logo.svg"/>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">Angular</span>
                                <span class="md-subhead">Material</span>
                            </md-card-header-text>
                            </md-card-header>
                            <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">About this site</span>
                            </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                            <p>
                                My plan for this website is to act as a Blog/About me website, for now it will be a simple
                                About me. In the future I will be adding content related to my learning experiences
                                as well as past, current, and future projects!
                            </p>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            </md-content>
        </md-tab>
        <md-tab label="About">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Two</h1>
                <p>Lorem ipsum</p>
            </md-content>
        </md-tab>
        <md-tab label="Contact">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Three</h1>
                <p>Integer turpis erat,</p>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
</div>