<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
<div ng-controller="homeController as home" ng-cloak flex>
<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab md-primary label="Main">
            <div class="background-img">
            <md-button class="md-icon-button logo"  style="position:relative;left:45%;top:30px;z-index:5;">
            <img class="logo-image" src="img/rr2d2.jpg">
            </md-button>
            <md-content class="md-padding" style="background:transparent;">
                  <md-content class="md-padding" style="background:transparent;" layout-xs="column" layout="row">
                    <div flex-xs flex-offset="25" flex-gt-xs="50" layout="column">
                    <md-card>
                        <img ng-src="{{home.mainImgPath}}" style="align-self:center;width:70%;" class="md-card-image" alt="Washed Out">
                        <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">About Me</span>
                        </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                        <p>
                            I graduated from Texas A&M with a bachelor of science in Computer Engineering with a minor in math.
                             Half of my course work was Electrical Engineering and the other half was Computer Science. The majority of my course work at A&M was with c/c++. 
                            I enjoy learning new languages/frameworks, designing/building new projects from scratch, and recently automating all the things.
                            <br><br>
                            Currently I am a Software Engineer at NCR. My day to day consist of working on new features, fixing future bugs, and
                            reaserching new technologies for future projects. I mainly work with .NET framework although recently have be dabbling in
                            Android developement, openCV with Python, and Automating server configuration with Chef.
                        </p>
                    </md-card>
                    <md-card>
                        <md-card-header>
                        <md-card-avatar>
                            <img src="img/logo.svg"/>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Angular</span>
                            <span class="md-subhead">Material</span>
                        </md-card-header-text>
                        </md-card-header>
                        <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">About this site</span>
                        </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                        <p>
                            My plan for this website is to act as a Blog/About me website. I to start adding
                            content frequently relating to my learning experiences as well as past, current, and future projects!
                        </p>
                    </md-card>
                    <md-card>
                        <img ng-src="{{home.contactImgPath}}" class="md-card-image" alt="Washed Out">
                        <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Contact Me</span>
                        </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                        <p>
                            <a href="mailto:rodriguezomar91@gmail.com?Subject=Website%20Contact" class="btn btn-default btn-lg" ><i class="fa fa-envelope fa-lg"></i> 
                            <span class="network-name">Email</span>
                            </a>
                            <a href="https://github.com/omarrodriguez15" class="btn btn-default btn-lg" style="padding:2%;"><i class="fa fa-github fa-lg"></i> 
                            <span class="network-name">Github</span>
                            </a>
                            <a href="https://github.com/omarrodriguez15/omarrodriguez15.github.io/wiki" class="btn btn-default btn-lg" style="padding:2%;">
                            <i class="fa fa-github fa-lg"></i> <span class="network-name">Wiki Page</span>
                            </a>
                            <a href="https://www.linkedin.com/pub/omar-rodriguez/90/9b1/29/" class="btn btn-default btn-lg" style="padding:2%;">
                            <i class="fa fa-linkedin fa-lg"></i> 
                            <span class="network-name">Linkedin</span>
                            </a>
                        </p>
                    </md-card>
                    </div>
                </md-content>
            </md-content>
            </div>
        </md-tab>
        <md-tab label="Blog">
            <div class="background-img">
            <md-content class="md-padding" style="background:transparent;">
                <md-content class="md-padding" style="background:transparent;" layout-xs="column" layout="row">
                    <div flex-xs flex-offset="25" flex-gt-xs="50" layout="column">
                    <md-card ng-repeat="card in home.blogCards">
                        <img ng-src="{{card.imgPath}}" class="md-card-image" alt="Washed Out">
                        <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline"><a href="" ng-click="home.blogEntry($index)">{{card.title}}</a></span>
                        </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                        {{card.content}}
                    </md-card>
                    <md-card class="invisible">
                        <img ng-src="{{home.contactImgPath}}" class="md-card-image" alt="Washed Out">
                        <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Contact Me</span>
                        </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                        <p>
                            HACKY CRAP RIGHT HERE TO MAKE THE BACKGROUND FILL THE PAGE
                        </p>
                    </md-card>
                    </div>
            </md-content>
            </div>
        </md-tab>
    </md-tabs>
</md-content>
</div>
