.center-logo {
	position:absolute;
	left:0%;
	top:2%;
}

.main-container {
    height: 100%;
    /* position: absolute; */
    width: 100%;
    position: relative;
    text-align: center;
}

.file-names-container {
    padding-top: 5px;
    width: 50%;
    left: 30%;
    position: absolute;
}